version: 1

title: "Basic Example"

# Configure the vulnbox.
vulnbox:
  # The template is a TinyRange configuration file that describes the vulnbox.
  template: vulnbox/vulnbox.yml

  init: python3 /root/init.py {{ .TeamIP }} {{ .TeamName }}

  health_check:
    kind: http
    url: "http://{{ .TeamIP }}:5000/health"
    expected: "OK"

  services:
    - id: 0
      name: "Private SSH"
      port: 2222
      private: true
      tags:
        - private
    - id: 1
      name: "Pastebin"
      port: 5000
      tags:
        - public
    - id: 2
      name: "Post office"
      port: 5001
      tags:
        - public

  tags:
    - team/{team}

  # Flows is a list of outgoing flows the machine can connect to.
  # All machines implicitly have the public/*:public flow.
  flows:
    - public/*:public
    - team/*:public
    - bot/{team}:public
    - device/{team}:public

  bot:
    # Bots inherit the services of the vulnbox.
    enabled: false

    template: vulnbox/bot.yml

    # Bots can have events that are triggered by the timeline.
    events:
      pastebin_vuln1:
        command: python3 /root/pastebin/exploit1.py {{ .TeamIP }} {{ .TickSeconds }}
        timeout: 2s
        background: true
      post_office_vuln1:
        command: python3 /root/post_office/exploit1.py {{ .TeamIP }} {{ .TickSeconds }}
        timeout: 2s
        background: true

    # Bots are not tagged the same as regular teams so they can't be targeted except explicitly by their own team.
    tags:
      - bot/{team}

    # Bots can only connect to their own team and themselves.
    flows:
      - public/*:public
      - team/{team}:public
      - bot/{team}:public

# Devices are externally joined machines.
device:
  tags:
    - device/{team}

  flows:
    - public/*:public
    - team/*:public
    - team/{team}:private
    - bot/{team}:public

scorebot:
  template: scorebot/scorebot.yml

  # Checks is a list of services to check.
  checks:
    - id: 1
      command: python3 /root/pastebin/scoring.py {{ .TeamIP }} {{ .NewFlag }} {{ .ServicePort }}
      timeout: 1s
    - id: 2
      command: python3 /root/post_office/scoring.py {{ .TeamIP }} {{ .NewFlag }} {{ .ServicePort }}
      timeout: 1s

  services:
    - id: 1
      name: "Private SSH"
      port: 2222
      private: true
      tags:
        - private

  tags:
    - scorebot/scorebot

  # Generally the scorebot only needs to connect to the teams and the bots.
  flows:
    - public/*:public
    - team/*:public
    - bot/*:public # The scorebot has access to all bots.

  # The health check is run after the scorebot is started.
  health_check: python3 /root/pastebin/scoring.py health

scoring:
  points_per_tick: 100
  points_per_stolen_flag: 100
  points_per_lost_flag: -100

# Flags are valid for 1 second.
flag_valid_time: 30s

# The game will run for 5 seconds with 40 ticks.
tick_rate: 5s
duration: 600s

timeline:
  # - at: 5s
  #   event: network/open/bots
  # - at: 1s
  #   event: bot/vuln1
  # - at: 15s
  #   event: network/open
  # - at: 25s
  #   event: scoreboard/freeze

pages:
  "/":
    path: pages/index.md
  "/rules":
    title: "Rules"
    path: pages/rules.md
